* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    
}

body h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: 20px auto 30px;

}

#Comida {
    display:flex;
    align-items: center;
    justify-content: center; 
}

#Comida img {
    width: 700px;
    height: 400px;
    border-radius: 20px;
    padding: 0px 10px 3px;
}

figcaption {
    display: flex;
    font-size: 10px;
    color: #8F8F8F;
    border: 1px solid red;
    margin:  0px auto 0;
    align-items: right;
    justify-content: right; 
    }

#Container {
    background-color: #FFFFFF;
    border: 1px solid red;
    width: 700px;
    margin: 30px auto 0;
    
}

ul *{

    font-size: 16px;
}

ul {
    padding: 5px 24px 20px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 90%;
    

    color: #1B1B1B;
}

ul h1 {
    font-size: 20px;
    text-align: center;
}

ul h2 {
    font-size: 20px;
    text-align: center;
}

ul h3 {
    font-size: 20px;
    text-align: center;
}

ul h4 {
    font-size: 20px;
    text-align: center;
}

ol {

    padding: 5px 24px 20px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 90%;

}